<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Covid'19</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

<!--<input type="text" name="SESSO" placeholder="Sex" required="required" /> -->
<select id="sex" name="SESSO">
  <option value="0"> Male </option>
  <option value="1"> Female </option>
</select>
<input type="text" name="AGE" placeholder="AGE" required="required" />
<input type="text" name="WBC" placeholder="WBC" required="required" />
<input type="text" name="Piastrine" placeholder="Piastrine" required="required" />
<input type="text" name="Neutrofili" placeholder="Neutrofili" required="required" />
<input type="text" name="Monociti" placeholder="Monociti" required="required" />
<input type="text" name="Eosinofili" placeholder="Eosinofili" required="required" />
<input type="text" name="Basofili" placeholder="Basofili" required="required" />
<input type="text" name="AST" placeholder="AST" required="required" />
<input type="text" name="ALT" placeholder="ALT" required="required" />
<input type="text" name="ALP" placeholder="ALP" required="required" />
<input type="text" name="GGT" placeholder="GGT" required="required" />
<input type="text" name="LDH" placeholder="LDH" required="required" />



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text1}},{{prediction_text2}}
   

 </div>


</body>
</html>
